 .input-text-box{
            padding:10px 12px;
            border-radius: 10px;
            flex:1 1;
        }
        .input-text-button
        {
            padding:9px 15px;
            border-radius: 8px;
            background-color: rgb(37, 143, 37);
            color:white;
            border:none;
            margin-left: 10px;
            cursor: pointer;
        }
           .input-text-div
        {
            display: flex;
            margin-bottom: 100px;
            margin-top: 20px;
        }
         .spinner-img{
           width:20px;
        }
        .buttonclear{
             padding:9px 15px;
            border-radius: 8px;
            background-color: rgb(195, 208, 195);
            border:none;
            margin-left: 10px;
            cursor: pointer;
        }